.DS_Store
.README.md
/Assignment_1/target/
/APPLICATION/nbproject/private/
/APPLICATION/build/
/Application2/target/
/Lab_3/target/
/Assignment_2/target/
/Lab_4/target/
/Assignment_3/target/
/Lab_5/build/
/Lab_5/dist/
/Lab_5/nbproject/private/
/lab7_skeleton/build/
/lab7_skeleton/nbproject/private/
/Lab_7/build/
/Lab_7/nbproject/private/
/db4odemo/nbproject/private/
/db4odemo/build/
/Assignment_5/nbproject/private/
